header {
	position: relative;
	background: var(--gradient-main);
}
h1 {
	width: 100%;
	padding: 30px 0 27px;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	user-select: none;
}
