header {
	position: relative;
	background: #00a3aa;
	height: 65px;
}
h1 {
	width: 100%;
	font-size: 25px;
	line-height: 68px;
	font-weight: bold;
	color: #fff;
	user-select: none;
}
header img {
	position: absolute;
	width: 100px;
	bottom: -9px;
	left: 0;
}
