header {
	position: relative;
	background: #00a3aa;
	height: 70px;
}
h1 {
	width: 100%;
	font-size: 25px;
	line-height: 72px;
	font-weight: bold;
	color: #fff;
	user-select: none;
}
header img {
	position: absolute;
	width: 110px;
	bottom: -10.5px;
	left: 0;
}
